body {
  font-family: sans-serif;
  background: #f0f0f0;
  padding: 2rem;
  margin: 0;
}

#app {
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  margin-bottom: 1rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

input,
select,
button {
  margin-bottom: 1rem;
  padding: 0.7rem;
  font-size: 1rem;
}
